@font-face {
    font-family: 'Geist';
    src: url('fonts/Geist.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Geist', sans-serif;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center all content */
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Remove default margins */
}

.top-menu {
    font-family: 'GeistMono', monospace;
    width: 100%;
    text-align: right;
    position: fixed; /* Keep top menu fixed */
    top: 4.5px; /* Adjusted top position to match index.css */
    right: 0;
    padding: 25px 32px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent for visibility */
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
}

nav ul li a:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.active {
    background-color: #D71921;
}
